#sns_simp_104_container {
	width: 100%;
	padding-top: 10px;
}

.sns_simp_104_whole {
	margin-right: 6px;
	display: inline-table;
	line-height: 1.6842;
	vertical-align:bottom;
	overflow: hidden;
}

.sns_simp_104_type {
	display: inline-table;
	font-family: HelveticaNeueCyr-Roman, Arial, Geneva, sans-serif;
	font-weight: 300;
	width: 100%;
	margin: 0;
	text-align: center;
	padding-left: 0px; padding-right: 0px;
	background-color: #faead0;
}

.sns_simp_104_type_text {
	font-family: HelveticaNeueCyr-Light, Arial, Geneva, sans-serif;
	padding-top: 10px;
	padding-bottom: 15px;
	font-size: 23px;
	font-style:italic;
	text-transform: uppercase;
	font-stretch: condensed;
	color: #4c453b;
	text-align: center;
	text-decoration: none;
	word-wrap: break-word;
}

.sns_simp_104_type p {
	display: inline;
	font-family:HelveticaNeueCyr-Roman, Arial, Geneva, sans-serif;
	font-weight: normal;
	color: white;
}

.sns_simp_104_type p span {
	position: absolute;
	display: inline-block;
	right: -36px; top: 6px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), inset 0px 5px 30px rgba(255, 255, 255, 0.2);
	text-align: center;
	text-transform: uppercase;
	background: #4bbfbf;
	width: 120px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

.sns_simp_104_plan {
	width: 100%;
	background: #faead0;
	font-family: HelveticaNeueCyr-Roman, Arial, Geneva, sans-serif;
	font-weight:normal;
	font-size: 50px;
	color: #4c453b;
	text-align: center;
}

#highlighted_simp_104_plan {
	-webkit-transform: scale(1.04);
	-moz-transform: scale(1.04);
	-ms-transform: scale(1.04);
	-o-transform: scale(1.04);
	transform: scale(1.04);
}

.sns_simp_104_header {
	padding-top: 2px;
	padding-bottom: 20px;
	padding-left: 25px;
	padding-right: 25px;
}

.sns_simp_104_details {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background:#fff5e6;
	display:inline-block;
}

.sns_simp_104_header_price {
	font-size: 60px;
	font-weight: normal;
	padding-top:10px;
}

.sns_simp_104_header_timeframe {
	font-size: 18px;
	color: #242625;
	font-family: HelveticaNeueCyr-Roman, Arial, Geneva, sans-serif;
}


.sns_simp_104_content ul {
	list-style: none;
	padding-left: 0px;
	font-size: 14px;
	font-family: HelveticaNeueCyr-Roman, Arial, Geneva, sans-serif;
	margin: 0px;
}

.sns_simp_104_content li {
	margin: 0px;
	text-align: center;
	color: #242625;
	display: table;
	width: 100%;
	height: 50px;
	padding: 4px;
}

.sns_simp_104_content li span {
	vertical-align:middle;
	display:table-cell;
}

.sns_simp_104_content li:nth-child(2n+1) { background: none; }

.sns_simp_104_content li:nth-child(2n) { background: none; }

.sns_simp_104_price {
	padding-bottom: 10px;
}

.sns_simp_104_price a {
	font-family: HelveticaNeueCyr-Bold, Arial, Geneva, sans-serif;
	color: white;
	display: inline-block;
	padding-right: 8px;
	padding-left: 8px;
	max-width: 150px;
	height: auto;
	word-wrap: break-word;
	background:#ff7701;
	vertical-align: middle;
	line-height: 40px;
	font-size: 13px;
	font-weight:normal;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

.sns_simp_104_price a:hover {
	font-family: HelveticaNeueCyr-Bold, Arial, Geneva, sans-serif;
	color: white;
	display: inline-block;
	padding-right: 8px;
	padding-left: 8px;
	max-width: 150px;
	height: auto;
	word-wrap: break-word;
	background:#ff8215;
	vertical-align: middle;
	line-height: 40px;
	font-size: 13px;
	font-weight:normal;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

@font-face {
	font-family:'HelveticaNeueCyr-Bold';
	src: url(../fonts/'helveticaneuecyr-bold-webfont.eot');
	src: url(../fonts/'helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url(../fonts/'helveticaneuecyr-bold-webfont.woff2') format('woff2'),
		 url(../fonts/'helveticaneuecyr-bold-webfont.woff') format('woff'),
		 url(../fonts/'helveticaneuecyr-bold-webfont.ttf') format('truetype'),
		 url(../fonts/'helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
}

@font-face {
	font-family:'HelveticaNeueCyr-Light';
	src: url(../fonts/'helveticaneuecyr-light-webfont.eot');
	src: url(../fonts/'helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url(../fonts/'helveticaneuecyr-light-webfont.woff2') format('woff2'),
		 url(../fonts/'helveticaneuecyr-light-webfont.woff') format('woff'),
		 url(../fonts/'helveticaneuecyr-light-webfont.ttf') format('truetype'),
		 url(../fonts/'helveticaneuecyr-light-webfont.svg#helveticaneuecyrbold') format('svg');
}

@font-face {
	font-family: 'HelveticaNeueCyr-Medium';
	src: url(../fonts/'helveticaneuecyr-medium-webfont.eot');
	src: url(../fonts/'helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url(../fonts/'helveticaneuecyr-medium-webfont.woff2') format('woff2'),
		 url(../fonts/'helveticaneuecyr-medium-webfont.woff') format('woff'),
		 url(../fonts/'helveticaneuecyr-medium-webfont.ttf') format('truetype'),
		 url(../fonts/'helveticaneuecyr-medium-webfont.svg#helveticaneuecyrbold') format('svg');
}

@font-face {
	font-family: 'HelveticaNeueCyr-Roman';
	src: url(../fonts/'helveticaneuecyr-roman-webfont.eot');
	src: url(../fonts/'helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
		 url(../fonts/'helveticaneuecyr-roman-webfont.woff2') format('woff2'),
		 url(../fonts/'helveticaneuecyr-roman-webfont.woff') format('woff'),
		 url(../fonts/'helveticaneuecyr-roman-webfont.ttf') format('truetype'),
		 url(../fonts/'helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
}
